<include file="Index/header" />
<body>
<div id="wrapper">

  <include file="Index/nav"/>
  <div id="page-wrapper">

    <div class="container-fluid" >

      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">

          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i>  <a href="/bigticket/admin.php?c=scene">购票管理</a>
            </li>
            <li class="active">
              <i class="fa fa-table"></i> 当前场次
            </li>
          </ol>
        </div>
      </div>
      <!-- /.row -->
      <br/>
      <div class="row">
        <form action="/bigticket/admin.php" method="get">
          <input type="hidden" name="c" value="buy"/>
          <input type="hidden" name="a" value="index"/>
          <div class="col-md-3">
            <div class="input-group">
              <input class="form-control" name="title" type="text" value="{$title}" placeholder="影片名称" />
                <span class="input-group-btn">
                  <button id="sub_data" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
          </div>
        </form>

      </div>
      <div class="row">
        <div class="col-lg-6">
          <h3></h3>
          <!--table-responsive-->
          <div class="">
            <form id="singcms-listorder">
              <table class="table table-bordered table-hover singcms-table">
                <thead>
                <tr>
                <!-- 供推荐位选择 -->
                  <th>id</th>
                  <th>片名</th>
                  <th>日期</th>
                  <th>时间</th>
                  <th>影厅</th>
                  <th>票价</th>
                  <th>购票</th>
                </tr>
                </thead>
                <tbody>
                <volist name="scene" id="scene">
                  <tr>
                    <td>{$scene.scene_id}</td>
                    <td>{$scene.title}</td>
                    <td>{$scene.time|date="Y-m-d",###}</td>
                    <td>{$scene.time|date="H:i",###}</td>
                    <td>{$scene.hall}</td>
                    <td>{$scene.price}</td>
                     <!--只有场次日期大于当前时间的，才会有购票操作-->
                    <td>
                       <!--<span class="input-group-btn">-->
                  <!--<button id="sub_data" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>-->
                   <!--<button  id="button-add" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">购票</button>-->
                      <span class=" btn btn-primary dropdown-toggle" aria-hidden="true" id="singcms-edit" attr-id="{$scene.scene_id}" >购票</span>
                    </td>
                  </tr>
                </volist>

                </tbody>
              </table>
              <nav>

              <ul >
                {$pageRes}
              </ul>

            </nav>
              <!--<div>-->
                <!--<button  id="button-listorder" type="button" class="btn btn-primary dropdown-toggle" ><span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span>更新排序</button>-->
              <!--</div>-->
            </form>
            <!--<div class="input-group">-->
              <!--<select class="form-control" name="position_id" id="select-push">-->
                <!--<option value="0">请选择推荐位进行推送</option>-->
                <!---->
                <!--<foreach name="positions" item="position">-->
                  <!--<option value="{$position.id}">{$position.name}</option>-->
                <!--</foreach>-->
                <!---->
              <!--</select>-->
              <!--<button id="singcms-push" type="button" class="btn btn-primary">推送</button>-->
            <!--</div>-->

          </div>
        </div>

      </div>
      <!-- /.row -->



    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<script>
  var SCOPE = {
    'jump_url' :'/bigticket/admin.php?c=scene',
    'edit_url' : '/bigticket/admin.php?c=buy&a=select',
      'add_url' : '/bigticket/admin.php?c=buy&a=select',
    'set_status_url' : '/bigticket/admin.php?c=scene&a=setStatus',
    'sing_news_view_url' : '/bigticket/index.php?c=view',
    'listorder_url' : '/bigticket/admin.php?c=movie&a=listorder',
    'push_url' : '/bigticket/admin.php?c=movie&a=push',
  }
</script>
<include file="Index/footer" />