
<include file="Index/header" />
<body>

<div id="wrapper">

    <include file="Index/nav"/>

    <div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">

                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="/admin.php?c=admin">客户管理</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-edit"></i> 客户添加
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-6">

                <form class="form-horizontal" id="singcms-form">
                    <div class="form-group">
                        <label for="inputname" class="col-sm-2 control-label">用户名:</label>
                        <div class="col-sm-5">
                            <input type="text" name="name" class="form-control" id="inputname" placeholder="请填写用户名" value="{$client.name}">
                        </div>
                    </div>
                    

                    <div class="form-group">
                        <label for="inputrealname" class="col-sm-2 control-label">真实姓名:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="realname" id="inputrealname" placeholder="请填写真实姓名" value="{$client.realname}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputphone" class="col-sm-2 control-label">联系电话:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="phone" id="inputphone" placeholder="请填写联系电话" value="{$client.phone}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputemail" class="col-sm-2 control-label">电子邮箱:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="email" id="inputemail" placeholder="请填写电子邮箱" value="{$client.email}">
                        </div>
                    </div>

                    <input type="hidden" name="client_id" value="{$client.client_id}"/>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-default" id="singcms-button-submit">提交</button>
                        </div>
                    </div>
                </form>


            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<!-- Morris Charts JavaScript -->
<script>

    var SCOPE = {
        'save_url' : '/bigticket/admin.php?c=client&a=add',
        'jump_url' : '/bigticket/admin.php?c=client',
    }
</script>
<include file="Index/footer" />





